html {
    font-size: 22px;
    background-color: black;
}




.linktree {
    border: 5px ridge #5BCEFA;
    margin: 0;
    display: inline-block;

}


.headerbutton {
    margin: 0;
    display: inline-block;
}

.headermenu{
    width: 100%;
    background-color: #5BCEFA;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   
}

/* Dropdown Button */
.dropbtn {
    background-color: #5BCEFA;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  h1 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  body {background-color: rgb(248, 226, 211)}

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #F5A9B8;}


  .headerbutton:hover .dropbtn {background-color: #F5A9B8;}

  .penis { 
    border: dashed #5BCEFA; 
    cursor: pointer;}

  .penis:hover {border: dashed #F5A9B8;}


  .Textdivider {
    display: inline-block;
    padding: 10 10 10 10;
    width: 30%;
    vertical-align: top;
  }

  .c9 {
    padding: 72pt 25% 0 25%;    
    text-align: left;        
}
.c8 {
 
  text-align: left;        
}

.demo {
  table{border-spacing:0.5rem;border-collapse:collapse;border-collapse:collapse;border-spacing:0}
table td{padding:2px}
table,th,td{border:1px solid black;text-decoration:none;vertical-align:middle}
caption{text-align:left;font-style:italic;font-weight:bold;padding-top:10px}
table.demo{margin:auto;max-width:600px}
table.demo,table.demo td{border:3px solid #999;padding:4px 10px;text-align:left}
.demo p{margin:0}
.black{color:black}
.blue{color:blue}
.red{color:red}
.green{color:green}
.candyPinkBack{background: #f9bbb7;font-weight:bold}
.textImage{background:#e7e7e7;padding:5px 10px;text-align:center;border:1px solid #999;display:block;width:80%;margin:auto}

}